Options +FollowSymLinks
RewriteEngine on



############## Enrutamiento #######################
# Index
RewriteRule ^principal$ index.php

# Login - Registrarse

# Admin
RewriteRule ^admin$ app/trastienda/admin.php
RewriteRule ^noCookies_noLife$ app/vistas/error.html


######## Páginas de errores ########################

# Petición Incorrecta
ErrorDocument 400 app/vistas/error.html

# Se requiere autorización
ErrorDocument 401 app/vistas/error.html

# Prohibida
ErrorDocument 403 app/vistas/error.html

# No encontrado
ErrorDocument 404 app/vistas/error404.html

# Error interno del servidor
ErrorDocument 500 app/vistas/error.html
